In [2]:
import pandas as pd
import numpy as np
import pyodbc  
from datetime import datetime 
import matplotlib.pylab as plt
from sklearn.cluster import KMeans

In [3]:
conn = pyodbc.connect("Driver={ODBC Driver 13 for SQL Server};Server=yetidb01.database.windows.net;database=YETISQLDW01;uid=htian;PWD=HeLeNtIAn52!")
cursor = conn.cursor()

In [4]:
df = pd.read_sql("SELECT [Sold_to_Party_Name] ,[ShipToPartyAddress] FROM [EDW].[sap_zva05_fct] where (SalesOffice='STD' or SalesOffice='HYB') ", conn)

In [5]:
df=df.drop_duplicates()

In [6]:
df1 = df.groupby('Sold_to_Party_Name')['ShipToPartyAddress'].count().to_frame().reset_index()

In [7]:
df2 =df1.sort_values(by=["ShipToPartyAddress"],ascending=[False])

In [9]:
df2.head()

            Sold_to_Party_Name  ShipToPartyAddress
2408                       GSA                 561
1235                 Cavenders                 213
6593        Whole Foods Market                 195
4568  Pacific Flyway Wholesale                 188
5206         Rural King Supply                 133

In [46]:
len(df2)

6750

In [53]:
q=[0]*4
for num in df2.ShipToPartyAddress:
    if num>100:   # >100
       q[0]+=1
    elif num>10 : # 11-100
       q[1]+=1
    elif num>5 :  # 3-10
       q[2]+=1
    else:         # 1-2
       q[3]+=1

In [54]:
q

[6, 174, 345, 6225]